MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=password
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
API_URL=http://backend:3000/api
RABBITMQ_URI=amqp://user:password@rabbitmq:5672
LATITUDE=-23.55
LONGITUDE=-46.63
