version: '3.8'

services:
  # ------------------------------------
  # 1. Banco de Dados (MongoDB)
  # ------------------------------------
  mongo:
    image: mongo:6.0
    container_name: weather_mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017" # Porta externa : Porta interna
    volumes:
      - mongo_data:/data/db
    networks:
      - weather-network

  # ------------------------------------
  # 2. Message Broker (RabbitMQ)
  # ------------------------------------
  rabbitmq:
    image: rabbitmq:3-management
    container_name: weather_rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - "5672:5672"   # Porta para comunicação entre serviços
      - "15672:15672" # Dashboard visual (acesso pelo navegador)
    networks:
      - weather-network
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 30s
      timeout: 10s
      retries: 5

  # ------------------------------------
  # 3. Backend (API - NestJS)
  # ------------------------------------
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: weather_backend
    restart: always
    env_file:
      - .env
    environment:
      - DATABASE_URL=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/weatherdb?authSource=admin
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    networks:
      - weather-network

  # ------------------------------------
  # 4. Coletor de Dados (Python)
  # ------------------------------------
  weather-collector:
    build: ./weather-collector
    container_name: weather_collector
    restart: always
    env_file:
      - .env
    depends_on:
      - rabbitmq
    networks:
      - weather-network

  # ------------------------------------
  # 5. Worker (Go)
  # ------------------------------------
  weather-worker:
    build: ./weather-worker
    container_name: weather_worker
    restart: always
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - backend
    networks:
      - weather-network

  # ------------------------------------
  # 6. Frontend (React)
  # ------------------------------------
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: weather_frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - weather-network

volumes:
  mongo_data:

networks:
  weather-network:
    driver: bridge